<!DOCTYPE html>
<html lang="en">
<body>
  <div class="container">
    <div class="starter-template">
      <h2>Etsymizer!</h2>
      <p>Enter your Etsy listing ID</p>
    </div>
    <div class = "container">
      <form  action="/output" method="GET">
        <div class="form-group">
          <label for="listing_id">Etsy Listing ID#:</label>
          <input type="text" id="listing_id" name='listing_id' placeholder="e.g. 278116984">
        </div>
        <div>
          <button type="submit" class="btn btn-default btn-lg">Etsymize!</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
